@import "../../../Common/Common";

$lineColor: #f5f5f5;

/*body {
  background: #fff;
}*/

.defaultCss {
  @extend .gMain;
  /*padding-bottom: 50px;*/
  font-size: $font-m;

  .abcCss {
    margin: 5px;
    padding: 5px;
  }

  .pieChart {
    display: flex;

    > svg {
      margin: 0 5px;
    }
  }

  .urlParams {
    width: 100%;
    //display: none;
    .textarea {
      width: 100%;
      height: 100px;
      font-size: 16px;
      line-height: 2;

      overflow: hidden;

      div {
        overflow: auto;
        line-height: 2;
      }
    }

    .iComInfo {
      font-size: 14px;
      line-height: 2;
      padding: 10px;
      overflow: hidden;

      .icomContent {
        line-height: 2;
        overflow: auto;
      }
    }

    .errorInfo {
      padding: 5px;
      font-size: 14px;
      line-height: 2;
    }

    .content123 {
      width: 100%;
      padding: 5px;
      overflow: hidden;

      div {
        overflow: auto;
        white-space: normal;
        word-break: break-word;
        line-height: 2;
      }
    }

    .apiList {

      // padding: 20px;
      display: flex;
      flex-wrap: wrap;

      .getConfigInfo {
        margin-left: 2px;
        padding: 5px;
        font-size: 13px;
        border: 1px solid #dcdcdc;

        &:hover {
          background: #dcdcdc;
          color: red;
        }
      }
    }
  }

  .attachmentInfo {
    margin: 5px;
    width: 100%;
  }

  .barInfo {
    display: flex;
    position: fixed;
    background: #fff;
    width: 100%;
    padding: 5px 10px;
    z-index: 20;
    border-bottom: 1px solid #e7f0f3;

    div {
      padding: 5px 15px;
      border: 1px solid $lineColor;
    }

    .brandFilter {
      padding-left: 10px;
    }

    .select {
      background: #f2f2f2;
    }
  }

  .items {

    padding-top: 40px;

    .item {
      border-bottom: 10px solid $lineColor;

      .title {
        padding: 5px 10px;
        font-size: 110%;
        font-weight: bold;
        color: #222;

      }

      .detail {
        padding: 0 10px;

        display: flex;

        .logo {
          padding: 5px 10px 5px 0;
          flex: 1;

          div {
            @include g-Image-Center(cover);
            height: 90px;
            background-size: cover;
          }
        }

        .bewrite {
          flex: 2;
          height: 100px;
          line-height: 1.77;
          overflow: hidden;
          position: relative;
          font-size: 105%;

          .dot {
            position: absolute;
            background: #fff;
            z-index: 10;
            bottom: 0;
            right: 0;
            font-weight: bold;
          }
        }
      }
    }
  }

  /**/
  .categoryInfo {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    margin-top: 42px;
    display: flex;
    z-index: 12;

    -webkit-animation: category 1s linear;
    -o-animation: category 1s linear;
    animation: category 1s linear;
    //transition: 0.5s ease;
    //transform: translate3d(0, 0, 0);

    .left {
      position: fixed;
      width: 25%;
      overflow-x: hidden;
      overflow-y: auto;
      text-align: center;
      height: 100%;

      .leftRow {
        width: 100%;
        padding-bottom: 150px;

        .select {
          background: $lineColor;
          border-right: #fff;
          box-shadow: 0 2px 3px 2px #d3d2d3;
          transition: .2s ease-in;
        }

        div {
          padding: 10px;
          font-size: 14px;
          border-bottom: 1px solid $lineColor;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          &:hover {
            background: $lineColor;
            border-right: #fff;
            box-shadow: 0 2px 3px 2px #d3d2d3;
            transition: .2s ease-in;
          }
        }
      }
    }

    .right {
      background: #fff;
      flex: 1;
      position: fixed;
      width: 75%;
      right: 0;
      height: 100%;
      overflow: auto;
      padding-bottom: 150px;
      border-left: 1px solid $lineColor;

      .rightDiv {
        transition: .2s ease-in;
        width: 50%;
        float: left;
        border-bottom: 1px solid $lineColor;

        .logo {
          @extend .gWebkitBoxCenter;
          padding: 5px;
          margin-bottom: 5px;

          div {
            height: 100px;
            width: 100%;
            @extend .gImageCenter;
          }
        }

        .name {
          text-align: center;
          padding: 5px;
        }

        &:hover {
          box-shadow: -5px 0 5px #d3d3f5, 5px 0 5px #d3d3f5, 0 -5px 5px #d3d3f5, 0 5px 5px #d3d3f5;
        }
      }
    }
  }

  .searchInfo {
    width: 100%;
    display: flex;
    padding: 5px;
    position: fixed;
    background: #fff;
    margin-top: 41px;
    z-index: 15;
    box-shadow: 0 2px 3px 2px #d3d2d3;

    .search {
      flex: 1;
      position: relative;
      display: flex;

      input {
        width: 100%;
        width: 100%;
        padding: 10px 30px;
        border-radius: 10px;
        border: 1px solid #dbebf7;
      }

      .searchIcon {
        position: absolute;
        left: 0;
        height: 100%;
        @extend .gWebkitBoxCenter;
        padding: 5px;

        div {
          @extend .gImageCenter;
          background-image: url('../img/icon-search@3x.png');
          width: 20px;
          height: 20px;
        }
      }

      .searchDelete {
        position: absolute;
        right: 5px;
        padding: 5px;
        height: 100%;
        @extend .gWebkitBoxCenter;

        div {
          @extend .gImageCenter;
          background-image: url('../img/icon-search-del@3x.png');
          width: 15px;
          height: 15px;
        }
      }

    }

    .submit {
      padding: 5px 10px;
      @extend .gWebkitBoxCenter;
    }

    -webkit-animation: search .3s linear;
    -o-animation: search .3s linear;
    animation: search .3s linear;
  }

  .currentSelectCategory {
    transition: .5s ease;
    transform: translate3d(0, 0, 0);
  }

  .demoItem {

    display: flex;
    border: 1px solid #eeeeee;
    border-left: none;

    .demoImg {
      flex: 1;
      padding: 10px;
      background: #fff;
      border-left: 1px solid #eeeeee;
      //display: flex;
      .icon {
        padding: 5px;
        margin: 5px;
        @extend .gImageCenter;
        height: 32px;
      }

      .text {
        margin-top: 8px;
        text-align: center;
      }

      .no1 {
        border-left: none;
        background-image: url('../img/ico1.png');
      }

      .no2 {
        background-image: url('../img/ico2.png');
      }

      .no3 {
        background-image: url('../img/ico3.png');
      }

      .no4 {
        background-image: url('../img/ico4.png');
      }

    }
  }

  .dateTime {
    padding-top: 250px;
  }

  .refireshGroupInfo {
    padding: 10px 0;
    width: 100%;
    position: relative;

    .rDataRow {
      width: 100%;
      position: relative;
      margin-top: 15px;
      border-top: 5px solid #c4c4c4;

      .rRow1 {
        width: 100%;
        display: flex;
        position: relative;

        div {
          flex: 1;
          padding: 5px;
        }
      }
    }
  }

  .controllerPlane {
    position: relative;
    // margin-top: 20px;
    width: 100%;
    // padding: 5px;

    .mineInfo {
      width: 100%;
      position: relative;
      display: flex;
      border-top: 1px solid #dcdcdc;
      border-bottom: 1px solid #dcdcdc;
      border-right: 1px solid #dcdcdc;

      .item {
        flex: 1;
        padding: 5px;
        border-left: 1px solid #dcdcdc;

        .icon {
          @extend .gWebkitBoxCenter;

          div {
            @extend .gImageCenter;
            height: 40px;
            width: 40px;
          }

          .icon1 {
            background-image: url('../img/ico1.png');
          }

          .icon2 {
            background-image: url('../img/ico2.png');
          }

          .icon3 {
            background-image: url('../img/ico3.png');
          }

          .icon4 {
            background-image: url('../img/ico4.png');
          }
        }

        .text {
          padding: 10px 0 0;
          text-align: center;
        }
      }

    }

    .demandAndResource {
      // border-left: 1px solid #dcdcdc;
      // border-top: 1px solid #dcdcdc;
      position: relative;
      width: 100%;
      // margin-top: 10px;
      display: flex;

      .demandInfo {
        border-right: 1px solid #dcdcdc;
        //border-bottom: 1px solid #dcdcdc;
        flex: 1;

        .info {
          @extend .gWebkitBoxCenter;
          border-bottom: 1px solid #dcdcdc;
          border-left: 1px solid #dcdcdc;

          .center {
            padding: 5px;
            text-align: center;
            display: flex;

            .icon {
              @extend .gWebkitBoxCenter;

              div {
                @extend .gImageCenter;
                height: 30px;
                width: 30px;
              }

              .publish {
                background-image: url('../img/icon-publish-demand.png');
              }

              .create {
                background-image: url('../img/icon-create-fairy.png');
              }
            }

            .text {
              padding-top: 5px;
              margin-left: 5px;
            }
          }
        }
      }

      .resource {
        flex: 1;
        display: flex;
        border-bottom: 1px solid #dcdcdc;

        .info {
          flex: 1;
          border-right: 1px solid #dcdcdc;

          .icon {
            @extend .gWebkitBoxCenter;

            div {
              @extend .gImageCenter;
              height: 60px;
              width: 40px;
            }

            .demand {
              background-image: url('../img/icon-pool-demand.png');
            }

            .resource1 {
              background-image: url('../img/icon-pool-resource.png');
            }
          }

          .text {
            text-align: center;
          }
        }

      }
    }

    .otherRow {
      display: flex;
      flex-wrap: wrap;

      > div {
        margin-top: 2px;
        margin-left: 2px;
        padding: 2px;
        border: 1px solid #dcdcdc;
        color: #999;
      }
    }
  }
}
@keyframes search {
  from {
    margin-top: -42px;
  }

  to {
    margin-top: 42px;
  }
}
@-o-keyframes category {
  from {
    margin-top: -200%;
  }

  to {
    margin-top: 42px;
  }
}
@-webkit-keyframes category {
  from {
    margin-top: -200%;
  }

  to {
    margin-top: 42px;
  }
}
@keyframes category {
  from {
    margin-top: -200%;
  }

  to {
    margin-top: 42px;
  }
}
