@import "../../../Common/Common";

$backColor: #eee;

.orderSubmitCss {
  @extend .gMain;

  .buyFlowInfo {
    width: 100%;
    padding: 5px;
    border: {
      top: 5px solid $backColor;
      bottom: 10px solid $backColor;
    }
    div {
      @extend .gImageCenter;
      background-image: url('../img/buyFlow_2.png');
      height: 150px;
    }
  }
  /*----------------------地址信息----------------*/
  .addressInfo {
    display: flex;
    padding: 10px;
    border: {
      bottom: 10px solid $backColor;
    }
    .info {
      flex: 7;
      div {
        padding: 5px 0px;
      }

      .username {
        display: flex;
        .title {
          padding: 5px 10px;
        }
        .valueInfo {
          flex: 1;
        }
      }
      .address {
        display: flex;
        .title {
          padding: 5px;
        }
        .valueInfo {
          flex: 1;
        }
      }
    }
    .editImg {
      flex: 1;
      display: -webkit-box;
      -webkit-box-pack: center;
      -webkit-box-align: center;
      div {
        @extend .gImageCenter;
        background-image: url('../img/icon-edit-address@3x.png');
        height: 26px;
        width: 26px;
      }
    }
  }

  /*----------------------购买信息---------------*/
  .buyInfoTitle {
    padding: 10px;
    display: flex;
    border: {
      bottom: 1px solid $backColor;
    }

    div {
      flex: 1;
    }

    .title1 {
      text-align: left;
    }
    .title2 {
      text-align: right;
    }
  }
  .buyInfoContent {
    display: flex;
    padding: 10px;
    border: {
      bottom: 10px solid $backColor;
    }
    div {
      flex: 1;
      padding: 5px 0px;
    }

    .name {
    }
    .weixin {

    }
  }

  /*---------------------订单信息--------------*/
  .orderNo {
    padding: 10px;
    border: {
      bottom: 1px solid $backColor;
    }
  }
  .orderInfo {
    border: {
      bottom: 1px solid $backColor;
    }
    display: flex;
    padding: 10px;
    .img {
      flex: 1;
      padding: 5px;
      div {
        @extend .gImageCenter;
        height: 150px;
      }
    }

    .bewrite {
      padding: 5px;
      flex: 2;
      overflow: hidden;
    }
  }
  .confirmInfo {
    display: flex;
    div {
      padding: 10px;
    }
    .desc {
      flex: 3;
      text-align: right;
      background: #fcfcfc;
      color: #9c9c9c;
    }
    .confirm {
      text-align: center;
      flex: 1;
      font-size: 18px;
      background: red;
      color: #fff;
    }
  }
}