@import "../../../Common/Common";

.goodsDetailCss {
  @extend .gMain;
  padding-bottom: 50px;

  .row1 {
    padding: {
      left: 5px;
      right: 5px;
      bottom: 15px;
    }
    border: {
      top: 15px solid aliceblue;
    }

    display: flex;
    height: 180px;

    .logo {
      flex: 1;
      height: 100%;
      width: 100%;
      padding: 10px 10px 5px 5px;
      div {
        @include g-Image-Center(contain);
        height: 100%;
        width: 100%;
      }
    }
    .bewrite {
      padding: {
        top: 10px;
      }
      flex: 2;
      line-height: 1.67;
      overflow: hidden;
    }
  }

  .title {
    border: {
      top: 1px solid #dcdcdc;
      bottom: 1px solid #dcdcdc;
    }
    padding: {
      top: 10px;
      bottom: 10px;
      left: 10px;
      right: 10px;
    }
    color: #222;
    font-weight: bold;
  }
  .sketchContent {
    padding: 10px;
    line-height: 1.78;
  }
  .addressContent {
    padding: 10px;

  }
  .buyFlow {
    padding: 10px;

    div {
      @extend .gImageCenter;
      background-image: url('../img/buyFlow_1.png');
      height: 150px;
    }
  }
  .platformFeatures {
    padding: 10px;

    display: flex;

    div {
      padding: 5px;
      flex: 1;
      text-align: center;
      color: #999;
    }
  }
  .buyerInfo {
    padding: 10px;
    display: flex;

    div {
      flex: 1;
      color: #969696;
    }
  }

  .footInfo {
    width: 100%;
    position: fixed;
    bottom: 0px;
    height: 50px;
    font-size: 20px;
    display: flex;
    border: {
      style: solid;
      width: 1px;
      color: rgba(244, 223, 250, 0.78);
    }
    background: #F4FAD9; // rgba(250, 31, 13, 0.15);

    div {
      padding: 10px;
      text-align: center;
    }
    .favorites {
      flex: 1;
    }
    .confirm {
      flex: 4;
      background: rgba(255, 30, 21, 0.88);
      color: #fff;
    }

  }
}