.ant-slider {
  position: relative;
  margin: 10px 8px;
  height: 4px;
  border-radius: 5px;
  background-color: #A8A8A8;
  cursor: pointer;
  border-top: none;
  border-bottom: none;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.ant-slider-track {
  position: absolute;
  left: 0;
  height: 4px;
  border-radius: 6px;
  background-color: #FFB387;
  z-index: 1;
  -webkit-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.ant-slider-handle {
  position: absolute;
  margin-left: -7px;
  margin-top: -5px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 2px #FE8600;
  background-color: #FE8600;
  z-index: 2;
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
}
.ant-slider:hover .ant-slider-track {
    background-color: #FE8600;
}
.ant-slider-handle:hover {
    border-color: #FE8600;
}
.ant-slider:hover .ant-slider-handle {
    border-color: #FE8600;
}