/*------颜色-----*/
$line-color: #ececec;
$oranger-color: #FF8000;
$blue-color: #33CCFF;
$dark-gray-color: #545454;
$light-gray-color: #cdcdcd;
$white-color: #FFFFFF;
$body-background-color: #f4f1f1;
$border-color: #ecedf0;
$title-type-color: #fd9292;
$main-title-color: #4d4d4d;
$user-info-title: #9a9a9a;
$user-info-value: #0a0a0a;
$result-button-bgcolor: #FF6666;
$exper-color: #ffcc00;
$resour-border: #dddddd;
$exper-select-color: #12a2d7;
$exper-size-color: #787878;
$points-color: #ff6600;
$main-font-color: #0a0a0a;   // 正常字体颜色
$second-font-color: #9a9a9a; // 浅色的正常字体颜色
$hearder-bg-color: #12A2D7;  // 头部背景颜色
$tag-bg-color: #FD9393;      // 人员标签背景
$check-bg-color: #00DF5E;		 // 选中背景
$credit-color: #6699CC;			 // 信用度字体颜色
$warning-color: #FF6602;		 // 提示字体颜色
$dark-black: #131313;			 // 最黑的字体
$light-gray: #F9F9F9;			 // 浅色灰
$dark-border-color: #F0F0F0;	 // 深border颜色
$white-color: #FFFFFF;			 // 白色
$badge-bg-color: #fd9292;		 // 徽章背景颜色
$line-split: #f5f5f5;              // 分割线的色值
$line-monster_leader: #787878;
// border 相关
$border-color: #f4f1f1;      // 边框颜色


// margin 相关
$margin-left: 15px;          // 左间距


// 字体大小相关
$font-xx-small: 9px;				 // 超超小字体
$font-x-small: 10px;				 // 超小字体
$font-small: 11px;					 // 小字体
$font-default: 12px;				 // 默认字体大小
$font-m: 14px;				         // 中等大小
$font-large: 15px;					 // 大字体
$font-x-large: 18px;				 // 超大字体
$font-xx-large: 20px;				 // 超大字体
$font-xxx-large: 24px;			 // 超大字体